@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-loading{
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: skeleton-loading;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

@keyframes skeleton-loading {
    0%{
        background-color: #22335e;
    }

    100%{
        background-color: #141f38;
    }
    
}